*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
body{
    display: block;
}

.navbar{
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
   position: fixed;
    width: 100vw;
    box-shadow: 0px 3px 6px 0px rgb(48, 47, 47);
}

.navbar h1{
    color: white;
    font-size: 25px;
}



.navbar ul{
    list-style: none;
    display: flex;
   
}
.navbar ul li{
    margin-right: 40px;
    font-size: 21px;
}

.navbar ul li a{
    text-decoration: none;
    color: white;
    padding: 3px 7px;
}

.navbar ul li a:hover{
    background: linear-gradient(rgb(255, 0, 221), rgb(0, 162, 255));
    border-radius: 18px;
    border: 1px solid white;
    color: rgb(255, 255, 255);
    box-shadow: 0px 3px 7px 0px rgb(155, 154, 154);
    transition-duration: 0.3s;
    
}
.navbar ul li a:active{
    background: linear-gradient(rgb(255, 0, 0), rgb(255, 0, 0));
    color: rgb(255, 255, 255);
}



header{
    width: 100%;
    background-color: red;
    height: 98vh;
    text-align: center;
    align-items: center;
}
header h1{
    padding-top: 160px;
}
section{
    width: 100%;
    background-color: rgb(255, 217, 0);
    height: 99vh;
    text-align: center;
    align-items: center;
}
section h1{
    padding-top: 160px;

}
.content{
    width: 74%;
    float: left;
}
.content footer{
    background-color: green;
    width: 99vw;
    height: 29vh;
}

.content footer center{
    padding-top: 100px;
    color: white;
}

.ads{
    background-color: rgb(207, 207, 207);
    float: right;
    width: 23%;
    height: 180vh;
    margin-right: 27px;
    align-items: center;
    display: block;
    margin-top: 100px;
    border-radius: 15px;
    box-shadow: 0px 10px 10px 1px;
}

.images{
    width: 84%;
    border-radius: 15px;
}

.images:hover{
    border: solid 3px rgb(155, 181, 255);
}

.button{
    margin-top: 15px;
    width: 84%;
    border-radius: 15px;
    border: none;
    height: 35px;
    font-size: larger;
}
.button:active{
        border: solid 2px rgb(155, 181, 255);
        border-radius: 15px;
        background: linear-gradient(to right, white, white);
    

}

.button:hover{
    background: linear-gradient(to right, rgb(0, 153, 255), rgb(255, 21, 235));
    color: white;

}
.ad1{
    margin-top: 15px;
}
